* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gaegu", sans-serif;
    font-size: 20px;
}

#header {
    height: 45px;
    background-color: #f3e073;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

span {
    color: #7c531d;
    font-size: 25px;
    font-weight: bold;
    text-shadow: -2px 2px 0 #ffffff;
}

#header .icon-container {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    display: block;
}

.fa-user-circle,
.fa-user-plus {
    color: #7c531d;
    font-size: 26px;
    margin-right: 10px;
}

.fa-user-plus {
    font-size: 21px;
    margin-right: 0;
}

.section {
    display: flex;
    height: 823px;
}

.swiper-leftslide {
    width: 200px;
    background-color: #F4F4F9;
}

.swiper-rightslide {
    display: none;
    width: calc(100% - 200px);
    background-color: white;
    padding: 20px;
}

.menu-btn {
    background-color: #F4F4F9;
    width: 100%;
    height: 50px;
    padding: 30px;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: #2e3a4d56;
}

.diary-header {
    display: flex;
    align-items: center;
}

.diary-container {
    margin: 20px;
    height: 680px;
    overflow: scroll;
}

.diary-header button {
    width: 60px;
    height: 40px;
    margin: 10px;
    padding: 9px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
}

.diary-header button:hover {
    background-color: #2e3a4d56;
}

#footer {
    height: 38px;
    background-color: #f3e073;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: auto;
    font-size: 20px;
}

#footer span {
    color: #7c531d;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -2px 2px 0 #ffffff;
}

.profile-popup,
.addfriend-popup,
.diary-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.profile-content,
.addfriend-content,
.diary-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 40%;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-content h2,
.addfriend-content h2,
.diary-content h2 {
    margin: 0;
    padding: 10px 0;
}

.profile-content .profile-close-btn,
.addfriend-content .addfriend-close-btn,
.diary-content .diary-close-btn,
.diary-content .save-btn {
    background: #ccc;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.addfriend-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px lightgray;
}

#search-btn {
    border: none;
    background-color: white;
}

table {
    margin: 20px auto;
}

.image {
    width: 40px;
    height: 40px;
    color: gray;
    background-color: gray;
    border-radius: 15px;
    margin: 5px;
    margin-right: 10px;
}

table .fa-user-plus,
#search-icon {
    color: black;
    margin: 10px;
    font-size: 20px;
}

#diary-title,
#diary-content {
    margin: 10px;
}

.diary-entry {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 960px;
}

.diary-entry h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.diary-entry p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
}

.diary-entry .date {
    font-size: 0.9em;
    color: #666;
    margin: 10px;
    
}

.diary-date{
    font-size: 0.8em;
}

.diary-footer{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px
}

#modify-diary, #remove-diary, #view-diary{
    width: 100px;
    background: #ccc;
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.7rem;
}