@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gaegu", sans-serif;
}

img {
    width: 135vh;
    margin-top: -40px;
}

.signin-body {
    background-color: #f3e073;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    text-align: center; 
}

h1 {
    color: white;
    font-size: 70px;
    margin-bottom: 10px; 
    text-shadow: -1px 3px 0 #7c531d;
}

h2 {
    color: rgba(255, 197, 36, 0.5);
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: -1px 3px 0 #7c531d;
}

input[type="text"], input[type="password"], button {
    width: 330px;
    height: 50px;
    margin-top: 3px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    border: 2px solid gray;
}

input[type="password"] {
    margin-bottom: 15px;
}

button {
    border: 3px solid #7c531d;
    text-decoration: none;
    background-color: #cc9348;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

button:hover {
    background-color: white;
    color: #2E3A4D;
}

button:hover .fa-gratipay {
    color: #2E3A4D;
}

.fa-gratipay {
    color: white;
    font-size: 20px;
    margin-left: 3px;
}

.checkbox {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.checkbox input {
    margin-right: 5px;
}
