<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
			"-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="file_mapper">


	<!-- 프로필 사진 정보 저장 -->
	<insert id="saveFileInfo" parameterType="FileInfo">
		insert into file_info (file_id, user_id, file_name, url_file_path)
		values
		(NVL((SELECT MAX(file_id) FROM file_info), 0) + 1, #{userId,
		jdbcType=VARCHAR}, #{fileName, jdbcType=VARCHAR}, #{urlFilePath,
		jdbcType=VARCHAR})
	</insert>

	<!-- userId로 프로필 사진 정보 조회 -->
	<select id="findFileUrlByFileNameUserId"
		parameterType="FileInfo" resultType="String">
		SELECT url_file_path
		FROM file_info
		WHERE file_name = #{fileName}
		AND user_id = #{userId}
	</select>

	<!-- 프로필 사진이 있는지 체크 -->
	<select id="selectFileInfo" parameterType="FileInfo"
		resultType="int">
		select count(*)
		from file_info
		WHERE user_id = #{userId}
	</select>

	<!-- 프로필 사진이 있다면 update 처리 -->
	<update id="updateFileInfo" parameterType="FileInfo">
		UPDATE FILE_INFO
		SET file_name = #{fileName}, url_file_path = #{urlFilePath}
		WHERE user_id
		= #{userId}
	</update>

	<!-- 파일 경로 조회 -->
	<select id="findFilePathByUserId" parameterType="String"
		resultType="String">
		select URL_FILE_PATH from file_info where user_id = #{userId}
	</select>

</mapper>
