<?xml version="1.0" encoding="UTF-8"?>							
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"							
					"http://mybatis.org/dtd/mybatis-3-config.dtd">									
<configuration>							
	
		<settings>						
			<setting name="mapUnderscoreToCamelCase" value="true"/>	
			<setting name="jdbcTypeForNull" value="CLOB"/>
		</settings>	
							
		<typeAliases>	
			<typeAlias type="com.app.dto.diary.UserDiary" alias="UserDiary"/>
			<typeAlias type="com.app.dto.diary.TalkToBotData" alias="TalkToBotData"/>
			<typeAlias type="com.app.dto.diary.ExcludedKeyword" alias="ExcludedKeyword"/>
			<typeAlias type="com.app.dto.diary.TalkToBotAll" alias="TalkToBotAll"/>
		</typeAliases>		
							
</configuration>							
