<?xml version="1.0" encoding="UTF-8"?>							
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"							
					"Http://mybatis.org/dtd/mybatis-3-config.dtd">									
<configuration>							
	
					 

	<settings>						
		<setting name="mapUnderscoreToCamelCase" value="true"/>	
<!-- 				_ 표시 -> CamelCase  userType  맵핑	  -->
		<setting name="jdbcTypeForNull" value="CLOB"/>
	</settings>						
							
	<typeAliases>						
		<typeAlias type="com.app.dto.user.User" alias="User"/>					

		<typeAlias type="com.app.dto.diary.UserDiary" alias="UserDiary"/>

		<typeAlias type="com.app.dto.todolist.TodoList" alias="TodoList"/>
		<typeAlias type="com.app.dto.todolist.TodoListUpdate" alias="TodoListUpdate"/>
		<typeAlias type="com.app.dto.todolist.TodoListRemove" alias="TodoListRemove"/>


		<typeAlias type="com.app.dto.accountBook.AccountBook" alias="AccountBook"></typeAlias>
		<typeAlias type="com.app.dto.accountBook.AccountBookSearch" alias="AccountBookSearch"></typeAlias>

		<typeAlias type="com.app.dto.friend.SearchFriend" alias="SearchFriend"/>
		<typeAlias type="com.app.dto.friend.UserSearch" alias="UserSearch"/>
		<typeAlias type="com.app.dto.friend.FriendStatusDTO" alias="FriendStatusDTO"/>
		

	</typeAliases>						

							
</configuration>							
